<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.entboost.im"
    android:versionCode="1"
    android:versionName="1.4.5.155" >

    <uses-sdk android:minSdkVersion="11" /> <!-- android:targetSdkVersion="15" -->

    <!-- 允许应用程序联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许在SD卡写文件(缓存资源优先存入SDcard、输出日志文件) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SDcard内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 记录语音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 获取任务列表信息 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 创建桌面快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="com.entboost.im.global.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.entboost.im.user.LoginActivity"
            android:label="@string/loginTitle"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.entboost.im.MainActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="false" ><!-- android:excludeFromRecents="true" -->
        </activity> <!-- android:noHistory="false" -->
        <activity
            android:name="com.entboost.im.chat.ChatActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.user.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.user.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.user.InfoNameEditActivity"
            android:label="@string/title_activity_info_name_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.user.InfoDescriptionEditActivity"
            android:label="@string/title_activity_info_description_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.contact.ContactInfoActivity"
            android:label="@string/title_activity_contact_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.setting.ChangePWDActivity"
            android:label="@string/title_activity_change_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.contact.ContactNameEditActivity"
            android:label="@string/title_activity_contact_name_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.contact.ContactDescriptionActivity"
            android:label="@string/title_activity_contact_description"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.department.DepartmentActivity"
            android:label="@string/title_activity_department"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.department.DepartmentInfoActivity"
            android:label="@string/title_activity_department_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.persongroup.PersonGroupInfoActivity"
            android:label="@string/title_activity_persongroup_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.department.MemberInfoActivity"
            android:label="@string/title_activity_member_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.entboost.im.contact.SearchContactActivity"
            android:label="@string/title_activity_search_contact"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.chat.CallListActivity"
            android:label="@string/title_activity_call_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.contact.AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.contact.ContactGroupActivity"
            android:label="@string/title_activity_contact_group"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.setting.SetLogonServiceAddrActivity"
            android:label="@string/title_activity_set_logon_service_addr"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.department.SelectHeadImgActivity"
            android:label="@string/title_activity_select_head_img"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.department.MemberListActivity"
            android:label="@string/title_activity_member_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.function.FunctionMainActivity"
            android:label="@string/title_activity_function_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.contact.DefaultUserInfoActivity"
            android:label="@string/title_activity_default_user_info"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="net.yunim.service.EbClientService" >
        </service>

        <activity
            android:name="com.entboost.im.message.BroadcastMessageListActivity"
            android:label="@string/title_activity_broadcast_message_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.message.BroadcastDetailActivity"
            android:label="@string/title_activity_broadcast_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.chat.OnlieChatMsgActivity"
            android:label="@string/title_activity_onlie_chat_msg"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.persongroup.PersonGroupEditActivity"
            android:label="@string/title_activity_person_group_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.persongroup.PersonGroupSelectActivity"
            android:label="@string/title_activity_person_group_select"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.persongroup.MemberSelectActivity"
            android:label="@string/title_activity_member_select"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.contact.SelectContactGroupActivity"
            android:label="@string/title_activity_select_contact_group"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.department.DepartmentListActivity"
            android:label="@string/title_activity_department_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.chat.FileListActivity"
            android:label="@string/title_activity_file_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.setting.AppVerActivity"
            android:label="@string/title_activity_app_ver"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.department.EditGroupNameActivity"
            android:label="@string/title_activity_edit_group_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.entboost.im.department.EditGroupTelActivity"
            android:label="@string/title_activity_edit_group_tel_activity" >
        </activity>
        <activity
            android:name="com.entboost.im.department.EditGroupFaxActivity"
            android:label="@string/title_activity_edit_group_fax" >
        </activity>
        <activity
            android:name="com.entboost.im.department.EditGroupEmailActivity"
            android:label="@string/title_activity_edit_group_email" >
        </activity>
        <activity
            android:name="com.entboost.im.department.EditGroupHomeActivity"
            android:label="@string/title_activity_edit_group_home" >
        </activity>
        <activity
            android:name="com.entboost.im.department.EditGroupAddrActivity"
            android:label="@string/title_activity_edit_group_addr" >
        </activity>
        <activity
            android:name="com.entboost.im.chat.FullImageActivity"
            android:label="@string/title_activity_full_image"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.entboost.im.user.InfoUrlEditActivity"
            android:label="@string/title_activity_info_url_edit" >
        </activity>
        <activity
            android:name="com.entboost.im.user.InfoZipcodeEditActivity"
            android:label="@string/title_activity_info_zipcode_edit" >
        </activity>
        <activity
            android:name="com.entboost.im.user.InfoTelEditActivity"
            android:label="@string/title_activity_info_tel_edit" >
        </activity>
        <activity
            android:name="com.entboost.im.user.InfoMobileEditActivity"
            android:label="@string/title_activity_info_mobile_edit" >
        </activity>
        <activity
            android:name="com.entboost.im.user.InfoEmailEditActivity"
            android:label="@string/title_activity_info_email_edit" >
        </activity>
        <activity
            android:name="com.entboost.im.user.InfoAddrEditActivity"
            android:label="@string/title_activity_info_addr_edit" >
        </activity>
    </application>

</manifest>